header {
background-color: black;
color: white;
padding: 1em;
text-align: center;
font-size: 50px;
font-weight: bold;
}
nav {
    background-color: gray;
    text-align: center;
    padding: 1em;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.column{
    float: left;
    height: 600px;
}
.left{
    width: 25%;
    text-align: left;
}
.right{
    width: 75%;
    text-align: center;
}
.row::after{
content: '';
display: table;
clear: both;
width: 100%;
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    height: 10%;
    padding: 1em;
}

h1{font-size: larger;}
h2{font-size: xx-large;}
