
/* Global */

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1,5;
    padding: 0;
    margin: 0;
    background-color:white;
}




.container{
    width: 80%;
    margin:auto;
    overflow: hidden;


}
.container2{
    display: inline-block;
    width: 30%;
    margin: 10px;
    vertical-align: top;


}

ul{
    margin: 0;
    padding: 0;
}

.gray{
    list-style: none;
    padding: 20px;
    border: orangered solid 1px;
    background: lightgray;
    margin-bottom: 5px;
}

/* Header */
header{
    background: gray;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: orangered 3px solid;

}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}


header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;

}

header #branding h1{
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;

}

.button_1{
    height: 40px;
    background-color: orangered;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: black;
}

/* Showcase */

#showcase{
    min-height: 400px;
    background:url(pexels-fox-58267-225157.jpg) no-repeat 0 -400px;
    text-align: center;
    color: white;
     
}

#showcase h1{
    margin-top: 35px;
    font-size: 55px;
    margin-bottom: 10px;
    
}

#showcase p{
    font-size: 20px;
}

/* Customer-support */

#customer-support{
    padding: 15px;
    color: white;
    background-color: gray;
}

#customer-support h1{
    float: left;
}

#customer-support form{
    float: right;
    margin-top: 15px;

}

#customer-support input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}



/* Boxit */


#boxes{
    margin-top: 20px;
    margin-bottom: 20px;
    
    overflow: hidden;
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;

}
#boxes .box{
    float: left;
   text-align: center;
   width: 80%;
   padding: 100px;
   max-width: 700px;
   height: 500px;


}
.box img{
    max-width: 100%;
    height: auto;
   margin-bottom: 10px;
   max-height: 200px;
   padding: 20px;


}
.box h3{
    font-size: 20px;
}
.box p {
    font-size: 16px;
}


/* sidebar */

aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;

}

aside#sidebar .Contact input aside#sidebar .Contact textarea {
    width: 90%;
    padding: 5px;
    
}

/* main-col*/

article#main-col{
    float: left;
    width: 65%;
    

}

/* Services */

ul#services li{
    list-style: none;
    padding: 20px;
    border: orangered solid 1px;
    background: lightgray;
    margin-bottom: 5px;

}

footer{

    color: white;
    padding: 15px;
    text-align: center;
    background-color: gray;
    border-top: orangered 3px solid;
    

    
    
    
}
footer p{
    margin: 0;
}




/* Galleria */


body.gallery   {

    background-color: lightgray;
    margin: 0;
    padding: 0;
}

.gallery-h1{

    margin-top: 50px;
      margin-left: 510px;
      font-size: 60px;
      font-family: 'Karla', sans-serif;
      font-weight: lighter;
     
      
    }

 
      .carousel-indicators .active {
        background-color: orangered;       }



/* Mobile devices */
@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #customer-support h1,
    #customer-support form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
        float: none;
        text-align: center;
        width: 100%;
    }
    header {
        padding-bottom: 20px;
    }
    #showcase h1{
        margin-top: 40px;
    }
    #customer-support .button_1{
        display: block;
        width: 90%;
        text-align: center;
        
    }
    #customer-service form input[type="email"]{
        width: 100%;
        margin-bottom: 5px;
    }
}